prj_prefix = "your-porject-name"
region_site = "ap-northeast-1"
region_acm = "us-east-1"
route53_zone_id = "Set your route53 zone id"
domain_static_site_prd = "your-domain-static-site.example.com"
domain_static_site_dev = "your-domain-static-site-dev.example.com"
